body {
	background-image: url('https://www.solidbackgrounds.com/download/2560x1440-blue-abstract-noise-free-website-background-image.jpg');
}

h3, strong, span {
	color: #ffffff;
}

.jumbotron {
	background-color: #0099bb;
	opacity: 0.9;
}

.container h1, h2, small {
	color: white;
}

#png-right {
	margin-left: 800px;
	margin-bottom: 500px;
	height: 128px;
	width: 128px;
	transform: rotate(-20deg);
}